.card {
    display: flex;
    background-color: var(--layer1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    margin: 16px auto;
}

.image {
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--foreground);
}

.text {
    font-size: 16px;
    color: gray;
    margin-bottom: 16px;
}

.children {
    margin-top: 16px;
}