.technologieCard{
    display: flex; 
    flex-direction: row;
    align-items: center; 
    padding: 20px;
    border-radius: 20px;
    background-color: var(--layer1);
    margin: 5px;
    transition:
        background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.technologieCard:hover{
    background-color: var(--primary);
    transition:
        background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
}

.progressContainer{
    min-width: 200px;
    height: 20px; 
    display: flex; 
    align-items: center;
}

@media (max-width: 900px) {
  .technologieCard {
    width: 100%; 
    min-height: 150px;
    justify-content: center;
  }

    .progressContainer {
        position: relative;
        width: 200px; 
    }
}
