:root {
  --background: #171717;
  --foreground: #ffffff;
  --layer1: rgb(39, 40, 41);
  --layer2: rgb(94, 96, 99);
  --primary: rgb(145, 75, 241);
  --secondary: rgb(0, 104, 26);
  --thirdary: rgb(192, 77, 0);
  --sucess: rgb(0, 104, 26);
  --error: rgb(163, 3, 3);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #101112;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100svh;
  padding: 20px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.centralized {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Responsividade */
/* 0 > x > 900 está nesse estilo */
@media (max-width: 900px) {
  .centralized {
    flex-direction: column;
    align-items: center;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 10px;
    gap: 32px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
