.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100svh;
  padding: 20px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.centralized {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rightContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 30px;
}

/* Responsividade */
/* 0 > x > 900 está nesse estilo */
@media (max-width: 900px) {
  .centralized {
    flex-direction: column;
    align-items: center;
  }
  .rightContent {
    max-width: 100%;
    padding: 20px 10px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 10px;
    gap: 32px;
  }
  .rightContent {
    padding: 10px 0;
  }
}