.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100svh;
  padding: 20px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.centralized {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  padding: 30px;
}