.sections {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(50px);
    transition:
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
}

.activeSection {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionTitle{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding-bottom: 0.5rem;
}